<div class="container my-3">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%#Allow user to update avatar photo%>
      <div class="my-3 file-form form-outline form-white">
        <%# <label class="form-label" for="formWhite">Your photo</label>
        <input type="file" class="form-control" id="formWhite" data-classButton="btn btn-primary" data-input="false"> %>
        <%= f.input :photo, as: :file,
                            label: 'Your photo:',
                            input_html: { class:'form-control' } %>
      </div>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: 'btn btn-success mb-3' %>
    </div>
  <% end %>
  <hr>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:'btn' %></p>

  <%= link_to "Back", :back, class:'btn' %>

</div>
