<div class="d-flex p-2 container">
  <div class="row">
    <div class="col-sm-12">
      <% @wands.each do |wand| %>
        <div class="d-inline-flex p-2">
          <div>
            <% if wand.photo.attached? %>
              <td><%= cl_image_tag wand.photo.key, height: 80, width: 80, crop: :fill %></td>
            <%else%>
              <td><%= image_tag "banner.svg", height: 80, width: 80, crop: :fill %></td>
            <%end%>
          </div>
          <div class="d-inline-flex p-2">
            <h2><%= wand.name  %></h2>
            <p>Seller: <strong><%= wand.user.first_name %></strong></p>
            <p>$ <%= wand.price  %></p>
            <p><%= wand.quantity  %></p>
            <p>
              <% if wand.available %>
                <td><%= link_to 'Show', wand_path(wand), class:'btn btn-primary'  %></td>
              <% else %>
                <td><%= link_to 'Not available', wand_path(wand), class:'btn btn-secondary'  %></td>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
