<div class="container  d-flex my-3">
  <div class="container">
    <%= simple_form_for :search, url: wands_path, method: "GET" do |f| %>
      <h3>Filters</h3>
      <div style="overflow-y: scroll; height: 40vh;">
        <label for="woods">Wood:</label>
        <%= f.input :woods, collection: Wand::WOOD, as: :check_boxes, legend_tag: false %>
        <%# <%= f.collection_check_boxes :woods, [Wand::WOOD] %>
      </div>
      <hr>
      <label for="cores">Cores:</label>
      <%= f.input :cores, label: "Cores", collection: Wand::CORE, as: :check_boxes, legend_tag: false %>
      <%= f.submit "Search", class: "btn btn-primary" %>
      <%= link_to "Reset", wands_path  %>
    <% end %>
  </div>


  <div class="cards">
    <% @wands.each do |wand| %>
      <%= link_to wand_path(wand) do %>
        <div class="p-2 card bg-dark">
          <div class="p-2 card-product">
            <div class="p-2 card-product img">
              <% if wand.photo.attached? %>
                <td><%= cl_image_tag wand.photo.key%></td>
              <%else%>
                <td><%= image_tag "banner.svg"%></td>
              <%end%>
            </div>
            <div class="p-2 pt-0">
              <h4><%= wand.name  %></h4>
              <%if wand.available %>
                <p><br></p>
              <% else %>
                <p class="small-text">(Wand not available)</p>
              <%end%>
              <p>Seller: <strong><%= wand.user.first_name %></strong></p>
              <p>Price:<strong><%= " $ #{wand.price}" %></strong></p>
              <p>Quantity: <strong><%= wand.quantity %></strong></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
