<!DOCTYPE html>
<html>
  <head>
    <title>WandsMarket</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Inserted favicon  %>
    <%= favicon_link_tag 'favicon.ico'  %>

    <!-- AOS animation -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-secondary border-bottom border-opacity-25">

      <div class="container-fluid">
        <!-- Brand - Wands Market -->
        <%= link_to root_path, class: 'navbar-brand' do  %>
          <%= image_tag 'magic_wand.svg', alt:'wands market', class:"brand-img"%>
          <span class="brand">Wands Market</span>
        <% end %>

        <!-- Search Form -->
        <form class="d-flex flex-grow-1" role="search">
          <div class="form-group w-75">
            <input class="form-control border-primary" type="search" placeholder="Search for a wand" aria-label="Search">
          </div>
          <button class="btn btn-outline-primary" type="submit"><i class="fa-brands fa-searchengin"></i></button>
        </form>


        <!-- User info  = ShoppingCart + User avatar (dropdown) -->
        <ul class="navbar-nav me-auto align-items-center">
          <!-- Shopping cart -->
          <li class="nav-item me-1">
            <%= link_to shoppingcart_path , class:'nav-link p-0' do  %>
              <i class="fa-solid fa-cart-shopping" style="width:30px;"></i>
            <% end %>
          </li>
        </ul>

        <!-- Avatar photo with cloudinary -->
        <ul class="navbar-nav me-auto" id="user-info">
          <li class="nav-item dropdown">
            <% if user_signed_in? %>
              <% if current_user.photo.attached? %>
                <%= cl_image_tag("#{current_user.photo.key}.png", :transformation=>[
                  :width=>50, :height=>50, :gravity=>"face", :radius=>"max", :crop=>"fill"
                ], class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown"}, 'aria-haspopup': true, 'aria-expanded': false) %>
              <% else %>
                <!-- in case user don't have a photo -->
                <i class="fa-solid fa-wand-sparkles avatar dropdown-toggle", id= "navbarDropdown", data-bs-toggle="dropdown", aria-haspopup="true",aria-expanded="false" ></i>
              <% end %>
              <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Edit", edit_user_registration_path, class:"dropdown-item" %>
                <%= link_to "History", shopping_carts_path, class:"dropdown-item" %>
                <%# <hr class="dropdown-divider"> %>
                <%= link_to 'My wands', my_wands_path, class:'dropdown-item'  %>
                <a class="dropdown-item" href="#">My Sells</a>
                <hr class="dropdown-divider border-secondary">
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
              </div>
            <% else %>
              <%= link_to 'Log in', new_user_session_path , class:'nav-link' %>
            <% end %>
          </li>
        </ul>

        <!-- Offcanvas menu -->
        <div id="offcanvas-info" class="navbar-nav">
          <% if user_signed_in? %>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag("#{current_user.photo.key}.png", :transformation=>[
                        :width=>50, :height=>50, :gravity=>"face", :radius=>"max", :crop=>"fill"
                      ], class: "avatar") %>
              <% else %>
                <i class="fa-solid fa-wand-sparkles avatar"></i>
              <% end %>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">

            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Wands Market</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <%= link_to "Edit", edit_user_registration_path, class:"nav-link active" %>
                </li>
                <li class="nav-item">
                  <%= link_to "History", shopping_carts_path, class:"nav-link active" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'My wands', my_wands_path, class:'nav-link active'  %>
                </li>
                <hr class="border-secondary">
                <li class="nav-item">
                  <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"nav-link" %>
                </li>
              </ul>
            </div>
          <% else %>
            <%= link_to 'Log in', new_user_session_path , class:'nav-link' %>
          <% end %>
        </div>
      </div>

    </nav>

    <%= yield %>

    <%# Devise authentication alerts  %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%# --- %>

    <div class="footer bg-dark">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        Find your magic <i class="fa-solid fa-hat-wizard"></i> here!
      </div>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
