<!DOCTYPE html>
<html>
  <head>
    <title>WandsMarket</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <%= link_to root_path, class: 'navbar-brand' do  %>
          <%= image_tag 'https://icons.veryicon.com/png/o/miscellaneous/indata/wand-magic-2.png', alt:'wands market', style: 'height: 30px; width:30px;' %>
          Wands Market
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class:'nav-link active'   %>
            </li>
            <li class="nav-item">
              <%= link_to 'Wands', wands_path, class:'nav-link' %>
            </li>

            <li class="nav-item dropdown">

              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sell wands
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to 'My wands', my_wands_path, class:'dropdown-item'  %>
                </li>
                <li>
                  <%= link_to 'Add a wand',new_wand_path, class:'dropdown-item'  %>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>

          <div class="nav-item mx-2">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 <li class="align-self-center mx-3">
                  <%= link_to shopping_carts_path , class:'nav-link' do  %>
                    <%# if it becomes hard to edit this logo we can put a fontawesome%>
                    <%= image_tag 'https://icons.veryicon.com/png/o/miscellaneous/business-linear-icon-2/empty-cart.png', alt:'empty cart', style: 'height: 30px; width:30px;' %>
                  <% end %>
                </li>
                <%#Avatar photo with cloudinary%>
                <li class="bg-transparent align-items-yl-center">
                  <div class="text-center">
                    <% if user_signed_in? %>
                      <% if current_user.photo.attached? %>
                        <%= cl_image_tag(current_user.photo.key, :transformation=>[
                          {:gravity=>"face", :height=>400, :width=>400, :crop=>"crop"},
                          {:radius=>"max"},
                          {:width=>50, :crop=>"scale"}
                        ]) %>
                        <%# link_to user_registration_path %>
                      <%else%>
                        <i class="fa-solid fa-wand-sparkles"></i>
                        <%# link_to user_registration_path %>
                      <%end%>
                    <%end%>
                  </div>
                  <%#Text with person name%>
                  <div class="text-center">
                    <% if user_signed_in? %>
                      <a class="nav-link disabled">Hello <%= current_user.first_name %>!</a>
                    <% else %>
                      <a class="nav-link disabled">Log in</a>
                    <% end %>
                  </div>
                </li>
              </ul>
          </div>

          <%# <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> %>
        </div>
      </div>
    </nav>


    <div class="container my-3">
      <%= yield %>
    </div>
      <%# Devise authentication alerts  %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%# --- %>

  </body>
</html>
